<!DOCTYPE html>
<html>
<head>
<title>Grow</title>
{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
<body class="index_body">
{% block header %}
{{ super() }}
{% endblock %}
{% block main %}
	<img src="{{url_for('static', filename='img/headerWave.png') }}" class="headerDrips" data-aos="fade-down" data-aos-duration="1000" data-aos-offset="0">
        </header>
	<main>
	<section class="landingpage">
		<div class="text" >
          <h1 class="grow" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="0">Glow</h1>
			<h1 data-aos="zoom-in" data-aos-duration="1000" id="withOur">with our</h1>
			<div class="menuIcons">
				<div class="menuIcon aboutall" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0">
					<a href="/menu/#juices" id="juiceIcon"><img src="{{ url_for('static', filename='img/juice.png') }}" id="juiceIconImg" /></a>
					<span id="juiceText">juices</span>
				</div>
				<div class="menuIcon aboutall" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="0">
					<a href="/menu/#shakes" id="shakeIcon"><img src="{{ url_for('static', filename='img/shake.png') }}" id="shakeIconImg" /></a>
					<span id="shakeText">shakes</span>
				</div>
				<div class="menuIcon aboutall" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="0">
					<a href="/menu/#bowls" id="bowlIcon"><img src="{{ url_for('static', filename='img/bowl.png') }}" id="bowlIconImg" /></a>
					<span id="bowlText">smoothie bowls</span>
				</div>
				<div class="menuIcon aboutall" data-aos="fade-up" data-aos-duration="2500" data-aos-offset="0">
					<a href="/menu/#savoury" id="savouryIcon"><img src="{{ url_for('static', filename='img/savoury.png') }}" id="savouryIconImg" /></a>
					<span id="savouryText">savoury dishes</span>
				</div>
				<div class="menuIcon aboutall" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="0">
					<a href="/menu/#drinks" id="drinkIcon"><img src="{{ url_for('static', filename='img/drink.png') }}" id="drinkIconImg" /></a>
					<span id="drinkText">other drinks</span>
				</div>
			</div>
		</div>
		<div class="bowlImg">
			<img src="{{ url_for('static', filename='img/homepageBowl.png') }}" class="bowl" data-aos-duration="1500" data-aos="fade-up-left" data-aos-offset="0">
		</div>
	</section>

	<section class="content">
<section class="aboutall">
<h1 class="aboutheading" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="0">Welcome to Glow!</h1>
	<img src="{{ url_for('static', filename='img/underline.png') }}" class="underline" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="0">
<div class="about">
<div class="textwithlink" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="0">
<p class="abouttext quote">"We believe in creating the best tasting food, by using only the highest quality, plant based produce. Our menu offers a wide variety - from juices, shakes, and other drinks - to smoothie bowls and savoury dishes. All sourced mostly locally from organic, small farms to best serve our local community."</p>
<div class="blobButton" data-aos="zoom-in" data-aos-duration="2500" data-aos-offset="0"><a href="/about/" class="button menubutton clickable">Read more about us</a></div>
</div></div></section>

<!--Carousel with reviews-->
<!--source: https://www.quackit.com/html/html_editors/scratchpad/?example=/bootstrap/bootstrap_3/tutorial/bootstrap_3_carousel-->
<div class="container fluid">
 <div id="reviews" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width:85%;margin:auto" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="0">

  <div class="carousel-inner">
	<div class="carousel-item active" data-bs-interval="3500">
		<img src="{{ url_for('static', filename='img/review1.png') }}" alt="1" class="d-block w-100 review">
	</div>

	<div class="carousel-item" data-bs-interval="3500">
		<img src="{{ url_for('static', filename='img/review2.png') }}" alt="1" class="d-block w-100 review">
	</div>

	<div class="carousel-item" data-bs-interval="3500">
		<img src="{{ url_for('static', filename='img/review3.png') }}" alt="3" class="d-block w-100">
	</div>

	<div class="carousel-item" data-bs-interval="3500">
		<img src="{{ url_for('static', filename='img/review4.png') }}" alt="4" class="d-block w-100">
	</div>
   </div>
<!-- Previous/Next controls -->
<button class="carousel-control-prev" data-bs-target="#reviews" type="button" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" data-bs-target="#reviews" type="button" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
 </div>
</div>
<br>
<section class="aboutall">
<h1 class="aboutheading" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="0">Glow with us</h1>
	<img src="{{ url_for('static', filename='img/underline.png') }}" class="underline" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="0">
<div class="about">
<div class="textwithlink">
<p class="abouttext quote" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="0">Interested in finding out more?</p>
<div class="blobButton blobButton3" data-aos="zoom-in" data-aos-duration="2500" data-aos-offset="0"><a href="/menu/" class="button menubutton clickable">See the menu</a></div>
<div class="blobButton blobButton2" data-aos="zoom-in" data-aos-duration="3000" data-aos-offset="0"><a href="/contact/" class="button contactbutton clickable">Contact us</a></div>
</div></div></section>

<!--Carousel with images-->
<div class="container-fluid">
<div id="my-pics" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width:60%;margin:auto" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="0">

<!-- Indicators -->
<div class="carousel-indicators">
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="1" aria-label="Slide 2"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="2" aria-label="Slide 3"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="3" aria-label="Slide 4"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="4" aria-label="Slide 5"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="5" aria-label="Slide 6"></button>
</div>

<div class="carousel-inner">
<div class="carousel-item active" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food23.jpg') }}" alt="1" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food10.jpg') }}" alt="2" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food16.jpg') }}" alt="3" class="d-block w-100">
</div>


<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food6.jpg') }}" alt="4" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food12.jpg') }}" alt="5" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food24.jpg') }}" alt="6" class="d-block w-100">
</div>
</div>

</div>
</div>

<div class="blobButton blobButton4" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="0"><a href="/gallery/" class="button gallerybutton indexgallerybutton clickable">See more photos<br>in our gallery</a></div>

</section>
<a onclick="topFunction()" id="myBtn" title="Go to top"  data-aos="fade-up" data-aos-duration="2000" data-aos-offset="0"></a>
</section>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
</body>
</html>
